/* body styles */
html,
body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

body .btn {
    font-family: "RumeiHouse";
    text-transform: uppercase;
}

/* navbar styles */
.navbar-nav {
    padding: 2px;
    margin: 5px;
}

.navbar-nav a {
    font-family: "RumeiHouse";
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.navbar-nav a:hover {
    color: #9256f6;
}

.navbar-brand {
    filter: invert(1) ;
}

.navbar .navbar-toggler {
    background-color: transparent;
    border: none;
    color: transparent;
}

.navbar .navbar-toggler-icon {
width: 3rem;
height: 3rem;
}

.navbar img {
    margin-left: 15px;
}

.navbar-toggler > i {
    color: white;
    font-size: 2.5rem;
}

/* home page carousel and overlay styles */
.carousel-item {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000ad;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.7s ease;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    color: white;
}

.slogan .slogan-button {
    font-family: "RumeiHouse";
    color: white;
    background-color: transparent;
    border: none;
    text-decoration: none;
    display: inline-block;
}

.slogan a:hover {
    color: #9256f6;
}

/* about page styles */
.aboutMe {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 20px;
    padding-bottom: 20px
}

.aboutMe .about-text {
    text-align: justify;
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
}

.namePic {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profileImage {
    padding-right: 10px;
    padding-bottom: 10px;
}

.greatContainer {
    flex-grow: 1;
}
.greatImage {
    padding: 15px;
    object-fit: fill;
}

.btn.cvButton,
.btn.galleryButton {
    font-size: 1.75rem;
    margin-top: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.cvButton:hover,
.btn.galleryButton:hover {
    color: #9256f6;
    background-color: transparent;
    outline: none;
}

/* gallery styles */









/* contact page styles */
.contactBody {
        background-color: #9256f6;
        background-image: radial-gradient(circle, rgb(146, 86, 246) 20%, rgb(172, 117, 239) 30%);
        background-size: 10px 10px;
    }

.contactBody .navbar-nav a {
    color: white;
}
.contactBody .navbar-nav a:hover {     
      color:  #9256f6
    }
            
.contactForm {
    width: 100%;
}

.contactHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactHeader h1 {
    display: block;
    outline: black;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "RumeiHouse";
    font-size: 11.5vw;
    color: white;
}

#contactButton {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}

#contactButton:hover {
    color: black;
    background-color: transparent;
    outline: none;
}

.form-select,
input::placeholder,
textarea::placeholder {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 0.8rem;
}

.form-check-label {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-shadow: #000000;
    font-weight: 300;
    color: rgb(255, 255, 255) !important;
    font-size: 0.8rem;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    font-family: "Montserrat"sans-serif;
    color: black !important;
    font-size: 0.8rem !important;
}

input[type="checkbox"]:checked {
    background-color: #000000;
    border-color: #9256f6;
}

.mainContact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding-top: 5%;
    padding-bottom: 5%;
}

#query {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 0.8rem;
}

/* contact form thankyou message */
#thankYouMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 3px;
}

#thankYouMessage a {
    margin: 2px;
    text-decoration: none;
    color: black;
    display: inline-flex;
}

#thankYouMessage a:hover {
    color: #9256f6;
}

#thankYouMessage h1 {

    font-size: 10vw;
    font-family: "RumeiHouse";
    margin-bottom: 0px;
}

#thankYouMessage p {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 7px;
}

#socialIcons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2px;
}

#socialIcons a {
    text-decoration: none;
    color: black;
}

#socialIcons a:hover {
    color: #9256f6;
}

/* footer styles */
footer {
    width: 100%;
    margin-top: auto;
    bottom: 0;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

footer h2 {
    font-family: "RumeiHouse";
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

#emailForm {
    max-width: 100%;
    font-family: "Montserrat", san-serif;
}

#emailInput {
    text-align: center;
}

#submitWrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: "Montserrat", san-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

#submitButton {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: "Montserrat", san-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    padding: 0;
    margin-top: 5px;
}

#submitButton:hover {
    background-color: transparent;
    border-color: transparent;
    color: #9256f6;
}

#submitButton:focus,
#submitButton:active {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #9256f6;
}

.footer a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    color: white;
    font-size: 15px;
    padding: 0px 0px 0px 0px;
    display: block;
}

.footer a:hover,
a:focus {
    color: #9256f6;
}

footer .text-light {
    font-size: xx-small;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", san-serif;
    font-weight: 400;
    font-style: normal;
}

.footer .instagram-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 1
    00%;
}

@media (min-width: 320px) and (max-width: 576px) {
    .slogan .slogan-button {
        font-size: clamp(27px, 30px, 32px);
    }
}


@media (min-width: 576px) and (max-width: 768px) {
#slogan .carouselSm {
    width: 300px;
}

    .slogan .slogan-button {
    font-size: clamp(30px, 32px, 35px);
    }
}

/* media query for small screens */
@media (max-width: 768px) {
.navbar-brand {
        font-size: 2.5rem;
    }

 .navbar-nav a {
        font-size: 2rem;
    }

    .aboutMe .row {
        font-family: "Montserrat", sans-serif;
        padding: 20px;
        flex-direction: row;
    }

    .carousel-item .carousel-overlay {
        opacity: 1
    }

.carousel-item .slogan {
    opacity: 1;
}


    #thankYouMessage p {
        font-size: 0.8rem;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 7px;
    }

    #socialIcons a {
        font-size: 0.8rem;
    }

    #contactButton {
        font-size: 2rem;
    }

    #submitButton {
        margin: 0.1rem;
    }

    .footer {
        max-width: 768px;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 0;
    }

    .footer .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .footer .footer-links a {
        font-size: 0.8rem;
    }

    .footer img[src="assets/images/PortfolioFooterLogo.png"] {
        display: none;
    }

    .footer i {
        font-size: 2.5rem;
        text-decoration: none;
    }

    .footer .instagram-container {
        order: -1;
    }

    .footer .col-12.col-md-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        padding-bottom: 5px;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .aboutMe .row {
        display: flex;
        justify-content: space-evenly;
    }

    .slogan .slogan-button {
        font-size: clamp(35px, 40px, 45px);
        }
}

@media (max-width: 768px) {
#slogan .carouselLg {
    display: none;
}

.aboutMe .about-text {
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
}

}

@media (min-width: 768px) {
    .carousel-item:hover .carousel-overlay {
        opacity: 1;
    }

    .carousel-item:hover .slogan {
        opacity: 1;
    }

#slogan .carouselSm {
    display: none;
}

.aboutMe .about-text {
   padding: 15px;
}
}

/* media query for medium screens */
@media (max-width: 991px) {
    .navbar-collapse {
        text-align: right;
    }

    .navbar-nav a {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 1200px) {
    .greatImage {
        display: none;
    }
}