/* navbar styles */
.navbar-nav a {
    font-family: "RumeiHouse";
    font-size: 2rem;
    color: black;
}

.navbar-nav a:hover {
    color: #8067d8;
}

/* carousel / hero styles */
.carousel-item {
    position: relative;
    height: 100vh; 
    overflow: hidden;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
      object-fit: cover;
  }

/* footer styles */
footer {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.footer h5 {
    font-family: "RumeiHouse";
    font-size: 2rem;
    text-align: left;
}

.footer input[type="email"] {
    width: 100%;
    font-family: "Montserrat";
    text-align: center;
}

.footer .btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: "Montserrat", san-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

.footer .btn:hover,
.btn:focus {
    background-color: transparent;
    color: #8067d8;
}

.footer a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    color: white;
    font-size: 15px;
    padding: 0px 0px 0px 0px;
    display: block;
}

.footer a:hover,
a:focus {
    color: #8067d8;
}

.instagram-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

footer .text-light {
    font-size: xx-small; 
    text-align: center; 
    margin: 0; 
    padding: 0;
    font-family: "Montserrat", san-serif;
    font-weight: 400;
    font-style: normal;
  }

@media (max-width: 768px) {

    .footer {
        max-width: 768px;
        align-items: center;
        flex-wrap: wrap; 
    }

    .footer .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer .form-group {
        display: none;
    }

    .footer h5 {
        display: none;
    }

    .footer .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: center; 
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .footer .footer-links a {
        font-size: 0.8rem;
    }
    
    .footer img[src="assets/images/PortfolioFooterLogo.png"] {
        display: none;
    }

    .footer i {
        font-size: 2.5rem;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        text-align: right;
    }

    .navbar-nav a {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }
}